
header.main_header_arae
  //  Top Bar 
  .topbar-area
    .container
      .row.align-items-center
        .col-lg-6.col-md-6.


        .col-lg-6.col-md-6
          ul.topbar-others-options
            li
              a(href='/')=`${__('Home')}`
            li
              a(href='/search')=`${__('Search a destination')}`            
            li
              .dropdown.language-option
                button.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                  span.lang-name
                .dropdown-menu.language-dropdown-menu
                  a.dropdown-item(href='/?lang=en-us')=`${__('English')} ($)`
                  a.dropdown-item(href='/?lang=en-gb')=`${__('English')} (€)`
                  a.dropdown-item(href='/?lang=es')=`${__('Spanish')} (€)`
                  a.dropdown-item(href='/?lang=fr')=`${__('French')} (€)`
            
  //  Navbar Bar 
  .navbar-area
    .main-responsive-nav
      .container
        .main-responsive-menu
          .logo
            a(href='/')
              img(src='assets/img/poulpe.png' alt='logo')
    .main-navbar
      .container
        nav.navbar.navbar-expand-md.navbar-light
          a.navbar-brand(href='/')
            img(src='assets/img/poulpe.png' alt='logo')
          .collapse.navbar-collapse.mean-menu#navbarSupportedContent
            ul.navbar-nav
              li.nav-item
                a.nav-link(href='/')=`${__('Search a destination')}`
              li.nav-item
                a.nav-link(href='#')=`${__('Destinations')}`
                ul.dropdown-menu
                  li.nav-item
                    a.nav-link(href='#')=`${__('Meet somewhere')}`


//  Common Banner Area 
section#common_banner_custom
  .container
    .row
      .col-lg-12
        .common_bannner_text
          h2=`${__('Welcome to Pulpito')}`
